.totalPrice {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: darkolivegreen;
    margin: 1rem auto;
    justify-content: center;   
}
.carritoVacio {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    justify-content: center;
    color: darkgreen; 
}
.enlace {
    display: inline-flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: rgb(48, 194, 238);
    font-size: 1.5em;
    text-decoration: none;
    width: 10em;
    margin-left: 22em;
    color: rgb(91, 86, 86);    
}
.Finish {
    display: flex;
    justify-content: center;
    margin-left: 35em;
    font-weight: bold;
    background: rgb(185, 244, 130);
}