
.totalPrice {
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: darkolivegreen;
    margin: 1rem auto;
    justify-content: center;   
}
.carritoVacio {
    display: flex;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    text-align: center;
    color: rgb(48, 42, 102);  
    font-weight: bold; 
    margin-left: 12em;  
    margin-top: 4em;
    opacity: 1;
}
.portada {
    height: 27em;
    width: 100%;
    display: block;
    opacity: 0.5;
}
.enlace {
	display: flex;
	background: rgb(4, 162, 173);
	background: radial-gradient(circle, rgb(5, 150, 247) 77%, rgb(7, 82, 243) 100%);
	color: white;
	height: 44px;
	width: 200px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #0026ff;
	border: none;
	margin: 10px;	
	margin-left: 30em;
	justify-content: center;
	text-decoration: none;
	padding-top: 6px;
}

.enlace:hover {
	color: rgb(59, 196, 88);
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgb(112, 109, 109) 77%, rgb(0, 0, 0) 100%);
}
    
.Finish {
    display: flex;
    justify-content: center;
    margin-left: 35em;
    font-weight: bold;
    background: rgb(185, 244, 130);
}

.opciones {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-left: 27em;
}

.opciones .Return {
	display: flex;
	background: rgb(27, 190, 16);
	background: radial-gradient(circle, rgb(179, 218, 136) 77%,	rgb(21, 169, 46) 100%);
	color: white;
	height: 44px;
	width: 200px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #0026ff;
	border: none;	
    text-align: center;
    text-decoration: none;
    justify-content: center;
    padding-top: 10px;
	margin-right: 3em;
	font-weight: bold;
}
.Return:hover {
	color: rgb(59, 196, 182);
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgb(112, 109, 109) 77%, rgb(0, 0, 0) 100%);
}
.opciones .Ir {
	display: flex;
	background: rgb(4, 162, 173);
	background: radial-gradient(circle,rgb(5, 150, 247) 77%,rgb(7, 82, 243) 100%);
	color: white;
	height: 44px;
	width: 200px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #0026ff;
	border: none;
	text-align: center;
    text-decoration: none;
    justify-content: center;
    padding-top: 10px;
	margin-top: 0.5em;
	font-weight: bold;	
}
	
.Ir:hover {
	color: rgb(59, 196, 88);
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgb(112, 109, 109) 77%, rgb(0, 0, 0) 100%);
}
