.container {
    width: 70%;
    margin: auto;
    background: rgb(244, 228, 208); 
    margin-top: 3em;   
}
.detail {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.detail img {
    width: 40%;
    margin: 2rem;
    border-radius: 2px, 5px, 2px, rgb(107, 105, 105);
}
.content {
    width: 30%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}
.content h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
    text-decoration: wavy;
}
.content h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    color: chocolate;
    margin-left: 3rem;
   
}
.content p {
    font-size: 3rem;
    font-family: cursive;
    color: rgb(41, 104, 198);
    margin: 1rem;
    margin-left: 4rem;
}
.content span {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 144, 15);    
    margin-left: 1.5rem;
    margin-bottom: 1em;
}
.content .button-Finish {
    width: 10rem;  
    margin-left: 4rem;
    background: rgb(78, 141, 244); 
    color: white; 
    text-decoration: none;
    font-weight: bold;
    border-radius: 10%;
    text-align: center;
    height: 2em;
}

