.container {
    display: grid;
    grid-column: 10;
    grid-row: 3;  

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: rgb(144, 138, 138);
    border-radius: 20px;
    overflow: hidden;
    width: 25rem;
    height: 38rem;
    padding: 2rem; 
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.315);    
    margin-bottom: 1rem;
    margin: 1em;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-body h4 {
    text-align: center;
    font-size: 1.5em;
}
.card-body p {
    text-align: center;
    font-size: 1.5em;
    color: rgb(22, 211, 19);
}
.card-body .btn-primary {
    align-items: center;
    margin: 1em;    
}
    
.card img {
    width: 20rem;
    height: 20rem;
    margin-top: 4em;
}
