.App {
  display: grid;
  grid-column: 10;
  grid-row: 4;  
}

.Cards-Container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  background: rgb(52, 49, 49);
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );  
}